<h2>Search</h2>
<p class="lead">Just fill in any text that you want to search and hit submit button</p>

<hr/>

<div class="inner-content">
    <form class="form-inline">
        {{input class="form-control col-md-9 offset-md-1" type="text" value=searchText placeholder="Text goes here..."}}
        <button class="btn btn-success {{if enableSubmit '' 'disabled'}}" type="submit" {{action 'submit'}}>
            {{#if loadingResults}}
                {{fa-icon 'spinner' spin=true}}
            {{/if}}
            Submit</button>
    </form>

    {{#if loadedResults}}
        <div class="row">
            <div class="col-md-5 offset-md-1">
                <table class="table">
                    <tbody>
                        <tr><td>Items Count: </td><td>{{itemsCount}}</td></tr>
                        <tr><td>Request Number: </td><td>{{requestNumber}}</td></tr>
                        <tr><td>Success: </td><td>{{success}}</td></tr>
                        <tr><td>Total Results: </td><td>{{totalResults}}</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                <tr><th>#</th><th>Title</th><th>Country</th><th>Language</th><th>Type</th></tr>
                </thead>
                <tbody>
                {{#each items as |item index| }}
                    <tr><td>{{index}}</td><td><a href="{{item.guid}}" target="_blank">{{item.title}}</a></td><td>{{item.country}}</td><td>{{item.language}}</td><td>{{item.type}}</td></tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    {{/if}}
</div>


